.app {
    float: left;
    width: 100%;
    min-height: 100vh;
    background-color: #fcf8e8;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.navbar {
    overflow: hidden;
    background-color: #3b5360;
    padding: 20px 10px;
    text-align: center;
}

.navbar span {
    color: #fff;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 15px;
    border-radius: 4px;
    cursor: pointer;
}

.navbar span:hover {
    background-color: #fff;
    color: #3b5360;
}